
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-boton:before { content: '\e834'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
